
body, html {
    height: 100%;
    margin: 0;
	}

.bg {
	background-image: url("/static/landingpage.jpg");
    height: 100%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	
.navbar-nav li{
	padding-right: 10px;
	padding-top: 15px;
	}